<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets async="true">
    <target name="file" xsi:type="File" layout="[${threadid}] ${longdate} [${uppercase:${level}}] [${logger}]: ${message} ${exception:format=tostring}" fileName="${basedir}/Logs/Symbiote.Current.${longdate:cached=true}.log" archiveFileName="${basedir}/Logs/Symbiote.Archive{#####}.log" archiveAboveSize="10000000" archiveNumbering="Rolling" archiveEvery="Hour" maxArchiveFiles="3" concurrentWrites="true" keepFileOpen="false" encoding="Unicode"/>
    <target name="method" xsi:type="MethodCall" className="Example.RealtimeLogger, Example" methodName="AppendLog">
      <parameter layout="${threadid}"/>
      <parameter layout="${longdate}"/>
      <parameter layout="${level}"/>
      <parameter layout="${logger}"/>
      <parameter layout="${message} ${exception:format=tostring}"/>
    </target>
    <target name="debugger" xsi:type="Debugger" layout="[${logger}]: ${message} ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file"/>
    <logger name="*" minlevel="Info" writeTo="method"/>
    <logger name="*" minlevel="Trace" writeTo="debugger"/>
  </rules>
</nlog>